node_modules
out
dist
build
pnpm-lock.yaml
package-lock.json
*.db
.turbo
.vscode
**/.temp-*/**
apps/desktop/default/**
apps/mobile/android/**
apps/mobile/.expo/**
apps/mobile/expo-env.d.ts
apps/mobile/uniwind-types.d.ts

