.appContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bg-app);
  color: var(--text-primary);
}

.mainContent {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-app);
}
